.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 45rem;
  border-radius: 6px;
  background: linear-gradient(to bottom, #47c2ff, #080505);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.control input:focus {
outline: none;
background-color: #f39c9c;
border: 2px solid #ebebeb;
box-shadow: 0 0 5px rgba(56, 201, 174, 0.5);
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #da0000;
  border: 2px solid #fcfcfc;
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: green;
  border-color:  wheat;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: wheat;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: wheat;
}
.loggedInmessage {
  background-color: #dc7474;
  font-size: 1.5rem;
  font-weight: bold;
  color: #086b0b;
  margin-top: 2rem;
  text-align: center;
}
